.containerInputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.controlInputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
}
.containerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 16px;
  margin-top: 16px;
}
